* {
  background-color: #000000;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

button {
  background-color: #ffffff;
}

.scene {
  display: flex;
}
